@import "tailwindcss";

#root,
html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

.blur-sides-bottom {
  -webkit-mask-image: linear-gradient(to top, transparent, black 90%);
  mask-image: linear-gradient(to top, transparent, black 90%);
}

.blur-sides-top {
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 90%);
  mask-image: linear-gradient(to bottom, transparent, black 90%);
}